<!-- Footer Full Width -->

<div class="footer footer-full-width p-0" id="footer">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                <!-- SUB Footer -->
                
                <div class="sub-footer-copyright m-0">
                    <span>
                        Copyright <a href="/">Bonchart</a> All Rights Reserved 2018
                    </span>
                </div>
                
                <!-- ... end SUB Footer -->

            </div>
        </div>
    </div>
</div>
