<!-- W-Personal-Info -->

<ul class="widget w-personal-info">
	<li>
		<span class="title">About Me:</span>
		<span class="text">{{orOperator userRequested.aboutMe '-'}}</span>
	</li>
	<li>
		<span class="title">Birthday:</span>
		<span class="text">{{dateFormat userRequested.birthdate}}</span>
	</li>
	<li>
		<span class="title">Birthplace:</span>
		<span class="text">{{orOperator userRequested.bornCountry '-'}}</span>
	</li>
	<li>
		<span class="title">Lives in:</span>
		<span class="text">{{orOperator userRequested.address.country '-'}} {{userRequested.address.province}} </span>
	</li>
	<li>
		<span class="title">Occupation:</span>
		<span class="text">{{orOperator userRequested.occupation '-'}}</span>
	</li>
	<li>
		<span class="title">Gender:</span>
		<span class="text">
			{{#ifCond userRequested.gender '==' 'M'}}
				Male
				{{else}}
				Female
			{{/ifCond}}

		</span>
	</li>

	<li>
		<span class="title">Email:</span>
		<span class="text">{{orOperator userRequested.email '-'}}</span>
	</li>
	<li>
		<span class="title">Website:</span>
		<span class="text">{{orOperator userRequested.website '-'}}</span>
	</li>
	<li>
		<span class="title">Phone Number:</span>
		<span class="text">{{orOperator userRequested.phoneNumber '-'}}</span>
	</li>
</ul>

<!-- ... end W-Personal-Info -->