
<!-- W-Personal-Info -->

<ul class="widget w-personal-info item-block">
	<li>
		<span class="title">Favourite Music Bands / Artists:</span>
		<span class="text">{{orOperator userRequested.favorite.music '-'}}</span>
	</li>
	<li>
		<span class="title">Favourite Books:</span>
		<span class="text">{{orOperator userRequested.favorite.books '-'}}</span>
	</li>
	<li>
		<span class="title">Favourite Writers:</span>
		<span class="text">{{orOperator userRequested.favorite.writers '-'}}</span>
	</li>
	<li>
		<span class="title">Other Interests:</span>
		<span class="text">{{orOperator userRequested.otherInterest '-'}}</span>
	</li>
</ul>

<!-- ... end W-Personal-Info -->