<!-- W-Personal-Info -->

<ul class="widget w-personal-info item-block">
	<li>
		<span class="title">Hobbies:</span>
		<span class="text">{{orOperator userRequested.hobbies '-'}}</span>
	</li>
	<li>
		<span class="title">Favourite TV Shows:</span>
		<span class="text">{{orOperator userRequested.favorite.series '-'}}</span>
	</li>
	<li>
		<span class="title">Favourite Movies:</span>
		<span class="text">{{orOperator userRequested.favorite.movies '-'}}</span>
	</li>
	<li>
		<span class="title">Favourite Games:</span>
		<span class="text">{{orOperator userRequested.favorite.games '-'}}</span>
	</li>
</ul>

<!-- ... end W-Personal-Info -->