<!-- W-Personal-Info -->

<ul class="widget w-personal-info item-block">
	{{#each userRequested.educationEmployment}}
	<li>
		<span class="title">{{this.title}}</span>
		<span class="date">{{this.fromYear}} - {{this.toYear}}</span>
		<span class="text">{{this.description}}</span>
	</li>
	{{/each}}
</ul>

<!-- ... end W-Personal-Info -->