<!-- Today Events -->

<div class="today-events calendar">
	<div class="today-events-thumb">
		<div class="date">
			<div class="day-number">26</div>
			<div class="day-week">Saturday</div>
			<div class="month-year">March, 2016</div>
		</div>
	</div>

	<div class="list">
		<div class="control-block-button">
			<a href="#" class="btn btn-control bg-breez" data-toggle="modal" data-target="#create-event">
				<svg class="olymp-plus-icon">
					<use xlink:href="/svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
				</svg>
			</a>
		</div>

		<div id="accordion-1" role="tablist" aria-multiselectable="true" class="day-event" data-month="12" data-day="2">
			<div class="card">
				<div class="card-header" role="tab" id="headingOne-1">
					<div class="event-time">
						<time datetime="2004-07-24T18:18">9:00am</time>
						<div class="more"><svg class="olymp-three-dots-icon">
								<use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Mark as Completed</a>
								</li>
								<li>
									<a href="#">Delete Event</a>
								</li>
							</ul>
						</div>
					</div>
					<h5 class="mb-0 title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne">
							Breakfast at the Agency<i class="fa fa-angle-down" aria-hidden="true"></i>
							<span class="event-status-icon" data-toggle="modal" data-target="#public-event">
								<svg class="olymp-calendar-icon" data-toggle="tooltip" data-placement="top" data-original-title="UNCOMPLETED">
									<use xlink:href="/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
								</svg>
							</span>
						</a>
					</h5>
				</div>

				<div id="collapseOne-1" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
					<div class="card-body">
						Hi Guys! I propose to go a litle earlier at the agency to have breakfast and talk a little more about the new
						design project we have been working on. Cheers!
					</div>
					<div class="place inline-items">
						<svg class="olymp-add-a-place-icon">
							<use xlink:href="/svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use>
						</svg>
						<span>Daydreamz Agency</span>
					</div>

					<ul class="friends-harmonic inline-items">
						<li>
							<a href="#">
								<img src="/img/friend-harmonic5.jpg" alt="friend">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/friend-harmonic10.jpg" alt="friend">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/friend-harmonic7.jpg" alt="friend">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/friend-harmonic8.jpg" alt="friend">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/friend-harmonic2.jpg" alt="friend">
							</a>
						</li>
						<li class="with-text">
							Will Assist
						</li>
					</ul>
				</div>


			</div>

			<div class="card">
				<div class="card-header" role="tab" id="headingTwo-1">
					<div class="event-time">
						<time datetime="2004-07-24T18:18">12:00pm</time>
						<div class="more"><svg class="olymp-three-dots-icon">
								<use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Mark as Completed</a>
								</li>
								<li>
									<a href="#">Delete Event</a>
								</li>
							</ul>
						</div>
					</div>
					<h5 class="mb-0 title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-1" aria-expanded="true" aria-controls="collapseTwo-1">
							Send the new “Olympus” project files to the Agency<i class="fa fa-angle-down" aria-hidden="true"></i>
							<span class="event-status-icon completed" data-toggle="tooltip" data-placement="top" data-original-title="COMPLETED">
								<svg class="olymp-checked-calendar-icon">
									<use xlink:href="/svg-icons/sprites/icons.svg#olymp-checked-calendar-icon"></use>
								</svg>
							</span>
						</a>
					</h5>
				</div>

				<div id="collapseTwo-1" class="collapse" role="tabpanel" aria-labelledby="headingTwo-1">
					<div class="card-body">
						Hi Guys! I propose to go a litle earlier at the agency to have breakfast and talk a little more about the new
						design project we have been working on. Cheers!
					</div>
				</div>

			</div>

			<div class="card">
				<div class="card-header" role="tab" id="headingThree-1">
					<div class="event-time">
						<time datetime="2004-07-24T18:18">6:30pm</time>
						<div class="more"><svg class="olymp-three-dots-icon">
								<use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Mark as Completed</a>
								</li>
								<li>
									<a href="#">Delete Event</a>
								</li>
							</ul>
						</div>
					</div>
					<h5 class="mb-0 title">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-1" aria-expanded="false"
						 aria-controls="collapseThree">
							Take Querty to the Veterinarian
							<span class="event-status-icon" data-toggle="modal" data-target="#private-event">
								<svg class="olymp-calendar-icon" data-toggle="tooltip" data-placement="top" data-original-title="UNCOMPLETED">
									<use xlink:href="/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
								</svg>
							</span>
						</a>
					</h5>
				</div>
				<div class="place inline-items">
					<svg class="olymp-add-a-place-icon">
						<use xlink:href="/svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use>
					</svg>
					<span>Daydreamz Agency</span>
				</div>
			</div>

		</div>

	</div>
</div>

<!-- ... end Today Events -->