
<!-- Post -->

<article class="hentry blog-post blog-post-v1">

	<div class="post-thumb">
		<img src="/img/post11.jpg" alt="photo">

		<div class="post-content">
			<a href="#" class="post-category bg-purple">INSPIRATION</a>
			<a href="#" class="h4 post-title">Take a look at these truly awesome worspaces</a>

			<div class="author-date">
				by
				<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						- 20 hours ago
					</time>
				</div>
			</div>
		</div>
	</div>

	<div class="post-additional-info inline-items">

		<ul class="friends-harmonic">
			<li>
				<a href="#">
					<img src="/img/icon-chat2.png" alt="icon">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/icon-chat18.png" alt="icon">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/icon-chat8.png" alt="icon">
				</a>
			</li>
		</ul>
		<div class="names-people-likes">
			0
		</div>

		<div class="comments-shared">
			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-speech-balloon-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
				<span>22</span>
			</a>
		</div>

	</div>

</article>

<!-- ... end Post -->
