
<!-- Post -->

<article class="hentry blog-post blog-post-v3">

	<div class="post-thumb">
		<img src="/img/post3.jpg" alt="photo">
		<a href="#" class="post-category bg-purple">INSPIRATION</a>
	</div>

	<div class="post-content">

		<div class="author-date">
			by
			<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					- 2 days ago
				</time>
			</div>
		</div>

		<a href="#" class="h3 post-title">Take a look at these truly awesome worspaces</a>
		<p>Here’s a photo from last month’s photoshoot. We had a lot of fun doing it and got really
			awesome shots for the new summer catalog.
		</p>

		<div class="post-additional-info inline-items">

			<ul class="friends-harmonic">
				<li>
					<a href="#">
						<img src="/img/icon-chat28.png" alt="icon">
					</a>
				</li>
			</ul>
			<div class="names-people-likes">
				0
			</div>

			<div class="comments-shared">
				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-speech-balloon-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
					<span>22</span>
				</a>
			</div>

		</div>
	</div>

</article>

<!-- ... end Post -->
