
<!-- Post -->

<article class="hentry blog-post blog-post-v2">
	<div class="post-thumb">
		<img src="/img/post1.jpg" alt="photo">
	</div>
	<div class="post-content">
		<a href="#" class="post-category bg-blue-light">THE COMMUNITY</a>
		<a href="#" class="h4 post-title">Here’s the Featured Urban photo of August! </a>

		<div class="post__author author vcard inline-items">
			<img src="/img/avatar83-sm.jpg" alt="author">

			<div class="author-date not-uppercase">
				<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						7 hours ago
					</time>
				</div>
			</div>

		</div>

		<div class="post-additional-info inline-items">

			<ul class="friends-harmonic">
				<li>
					<a href="#">
						<img src="/img/icon-chat27.png" alt="icon">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/img/icon-chat2.png" alt="icon">
					</a>
				</li>
			</ul>
			<div class="names-people-likes">
				26
			</div>

			<div class="comments-shared">
				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-speech-balloon-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
					<span>0</span>
				</a>
			</div>

		</div>
	</div>
</article>

<!-- ... end Post -->
