
<!-- Post -->

<article class="hentry blog-post blog-post-v3 featured-post-item">

	<div class="post-thumb">
		<img src="/img/post13.jpg" alt="photo">
		<a href="#" class="post-category bg-purple">INSPIRATION</a>
	</div>

	<div class="post-content">

		<div class="author-date">
			by
			<a class="h6 post__author-name fn" href="#">JACK SCORPIO</a>
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					- 5 MONTHS ago
				</time>
			</div>
		</div>

		<a href="#" class="h4 post-title">We went lookhunting in all the California bay area</a>

		<div class="post-additional-info inline-items">

			<ul class="friends-harmonic">
				<li>
					<a href="#">
						<img src="/img/icon-chat26.png" alt="icon">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/img/icon-chat27.png" alt="icon">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/img/icon-chat2.png" alt="icon">
					</a>
				</li>
			</ul>
			<div class="names-people-likes">
				206
			</div>

			<div class="comments-shared">
				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-speech-balloon-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
					<span>97</span>
				</a>
			</div>

		</div>
	</div>

</article>

<!-- ... end Post -->
