
<article class="hentry post has-post-thumbnail">

	<div class="post__author author vcard inline-items">
		<img src="/img/avatar3-sm.jpg" alt="author">

		<div class="author-date">
			<a class="h6 post__author-name fn" href="#">Sarah Hetfield</a>
			<div class="post__date">
				<time class="published" datetime="2004-07-24T18:18">
					March 2 at 9:06am
				</time>
			</div>
		</div>

		<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<ul class="more-dropdown">
				<li>
					<a href="#">Edit Post</a>
				</li>
				<li>
					<a href="#">Delete Post</a>
				</li>
				<li>
					<a href="#">Turn Off Notifications</a>
				</li>
				<li>
					<a href="#">Select as Featured</a>
				</li>
			</ul>
		</div>

	</div>

	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
		mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
	</p>

	<div class="post-additional-info inline-items">

		<a href="#" class="post-add-icon inline-items">
			<svg class="olymp-heart-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
			<span>0 Likes</span>
		</a>

		<div class="comments-shared">
			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-speech-balloon-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
				<span>0 Comments</span>
			</a>

			<a href="#" class="post-add-icon inline-items">
				<svg class="olymp-share-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
				<span>2 Shares</span>
			</a>
		</div>


	</div>

	<div class="control-block-button post-control-button">

		<a href="#" class="btn btn-control">
			<svg class="olymp-like-post-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-comments-post-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
		</a>

		<a href="#" class="btn btn-control">
			<svg class="olymp-share-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
		</a>

	</div>

</article>
