<!-- Window-popup Update Header Photo -->
<style>
	.modal-content .icon-close {
		position: absolute;
		top: 0;
	}
</style>

<div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo"
 aria-hidden="true">
	<div class="modal-dialog window-popup update-header-photo" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
				</svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Update Header Photo</h6>
			</div>

			<div class="modal-body">
				<div id="browseComputer" href="#" class="upload-photo-item">
					<svg class="olymp-computer-icon">
						<use xlink:href="/svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
					</svg>

					<input class="filepond" type="file" name="filepond">
				</div>

				<a href="#" class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo">

					<svg class="olymp-photos-icon">
						<use xlink:href="/svg-icons/sprites/icons.svg#olymp-photos-icon"></use>
					</svg>

					<h6>Choose from My Photos</h6>
					<span>Choose from your uploaded photos</span>
				</a>
			</div>
		</div>
	</div>
</div>


<!-- ... end Window-popup Update Header Photo -->