
<!-- News Feed Form  -->

<div class="news-feed-form">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

				<svg class="olymp-status-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-status-icon"></use></svg>

				<span>Status</span>
			</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
			<form>
				<div class="author-thumb">
					<img src="/img/author-page.jpg" alt="author">
				</div>
				<div class="form-group with-icon label-floating is-empty">
					<label class="control-label">Share what you are thinking here...</label>
					<textarea id="postText" class="form-control editable" placeholder="" name="postText" type="text" required></textarea>
				</div>
				<div class="add-options-message">
					<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD MULTIMEDIA">
						<svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
					</a>

					<button id="sendPost" class="btn btn-primary btn-md-2" type="button">Post Status</button>
					{{!-- <button   class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button> --}}
				</div>
			</form>
		</div>
	</div>
</div>



<!-- ... end News Feed Form  -->