
<!-- Comments -->


	<li class="comment-item">
		<div class="post__author author vcard inline-items">
			<img src="/img/avatar10-sm.jpg" alt="author">

			<div class="author-date">
				<a class="h6 post__author-name fn" href="#">Autoh</a>
				<div class="post__date">
					<time class="published" datetime="2017-03-24T18:18">
						{{comment.date}}
					</time>
				</div>
			</div>

			<a href="#" class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>

		</div>

		<p>{{comment.text}}</p>

		{{!-- Add replies and likes in a future version --}}
		{{!-- <a href="#" class="post-add-icon inline-items">
			<svg class="olymp-heart-icon">
				<use xlink:href="/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
			</svg>
			<span>8</span>
		</a>
		<a href="#" class="reply">Reply</a> --}}
	</li>

<!-- ... end Comments -->
