<div class="content-bg-wrap"></div>

<!-- Header Standard Landing  -->
<div class="header--standard" id="header--standard">
    <div class="container">
        <div class="header--standard-wrap">
            <a href="/" class="logo">
                <div class="img-wrap">
                    <img src="/img/logo.png"alt="Olympus">
                    <img src="/img/logo-colored-small.png"alt="Olympus" class="logo-colored">
                </div>
                <div class="title-block">
                    <h6 class="logo-title">Bonchart</h6>
                    <div class="sub-title">SOCIAL NETWORK</div>
                </div>
            </a>

            <a href="/" class="open-responsive-menu js-open-responsive-menu">
                <svg class="olymp-menu-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
            </a>

            <div class="nav nav-pills nav1 header-menu">
                <div class="mCustomScrollbar">
                    <ul>
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Trending</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" charset="nav-link">Search</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contacts</a>
                        </li>
                        {{#if isNotLogged}}
                        <li class="nav-item">
                            <button class="btn btn-blue" type="button" data-toggle="collapse" data-target="#loginHeader" aria-expanded="false" aria-controls="loginHeader">
                                Login <span class="caret"></span>
                            </button>
                            <div class="collapse loginHeader" id="loginHeader">
                                <form id="login_form" method="post" action="/accounts/login">
                                    <div class="form-group d-flex flex-column">
                                        <label for="nickInput">Username</label>
                                        <input id="nickInput" class="form-control" maxlength="254" name="nickname" type="text" size="15" placeholder="username"/>
                                        <label for="passwInput">Password</label>
                                        <input id="passwInput" class="form-control" name="password" type="password" size="15" placeholder="password"/>
                                        <button class="btn btn-primary m-2" type="submit">Log in</button>
                                        <a href="#" class="social-item bg-facebook text-white m-2 p-3">
                                            <svg class="svg-inline--fa fa-facebook-f fa-w-9" aria-hidden="true" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512" data-fa-i2svg=""><path fill="currentColor" d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229"></path></svg><!-- <i class="fab fa-facebook-f" aria-hidden="true"></i> -->
                                            Facebook
                                        </a>                                   
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/accounts/signup" class="btn btn-primary text-white d-flex align-items-center">Sign up</a> 
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- ... end Header Standard Landing  -->
<div class="header-spacer--standard"></div>