.header--standard {
    left: 0;
    padding: 0 55px;
    width: 100%;
}

.loginHeader {
    background-color: white;
    padding: 0 5vw;
    right: 0px;
}

.header-menu .btn {
    margin: 0 0.5rem;
    min-height: 35px;
    padding: 0 1rem;
}

@media (min-width: 992px) {
    .loginHeader {
        position: absolute;
    }
}