
<!-- Birthday Item -->

<div class="birthday-item inline-items">
	<div class="author-thumb">
		<img src="/img/avatar7-sm.jpg" alt="author">
	</div>
	<div class="birthday-author-name">
		<a href="#" class="h6 author-name">Marina Valentine </a>
		<div class="birthday-date">January 16th, 1989</div>
	</div>
	<a href="/profile/events" class="btn btn-sm bg-blue">Create Event</a>
</div>

<!-- ... end Birthday Item -->
