
<!-- Section Call To Action Animation -->

<section class="align-right pt160 pb80 section-move-bg call-to-action-animation scrollme">
	{{#if isNotLogged}}
	<div class="container">
		<div class="row">
			<div class="col col-xl-10 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
				<a href="/accounts/signup" class="btn btn-primary btn-lg">Start Making Friends Now!</a>
			</div>
		</div>
	</div>
	{{/if}}
	<img class="first-img" alt="guy" src="/img/guy.png">
	<img class="second-img" alt="rocket" src="/img/rocket1.png">
	<div class="content-bg-wrap bg-section1"></div>
</section>

<!-- ... end Section Call To Action Animation -->
