.post-category {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
}

@media (min-width: 992px) {
    .post-thumb {
        height: 184px;
    }
    
    .sections-container .ui-block {
        height: 96%;
    }
}
