<!DOCTYPE html>
<html lang="en">

<head>

    <title>Bonchart - Home</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Main Font -->
    <script src="/js/webfontloader.min.js"></script>

    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.min.css">

    <link rel="stylesheet" type="text/css" href="css/home/home.css">
    <link rel="stylesheet" type="text/css" href="/css/header/header-menu.css">

</head>

<body>

    <div class="landing-page">
        {{> header-menu/header-menu isNotLogged=isNotLogged }}

        <div class="container">
            <div class="row d-flex justify-content-start">
                <div class="col col-12">
                    <div class="ui-block">
                        <div class="ui-block-content">
                            <div class="row">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="https://estaticos.elperiodico.com/resources/jpg/6/8/1530540262286.jpg"
                                                alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/0/05/DJI_0003-2-1-1200x674.jpg"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="https://obranuevaencordoba.es/wp-content/uploads/2016/08/Gondomar-real-estate-exterior-2-1200-x-674.jpg"
                                                alt="Third slide">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>


                                <!-- eventos -->
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="ui-block mt-2">
                                        <div class="ui-block-title">
                                            <h6 class="title">Eventos recientes</h6>
                                            <a href="#" class="more"><svg class="olymp-three-dots-icon">
                                                    <use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                                </svg></a>
                                        </div>



                                        <!-- W-Action -->

                                        <ul class="widget w-friend-pages-added notification-list friend-requests">
                                            <li class="inline-items">
                                                <div class="author-thumb">
                                                    <img src="/img/avatar38-sm.jpg" alt="author">
                                                </div>
                                                <div class="notification-event">
                                                    <a href="#" class="h6 notification-friend">Francine Smith</a>
                                                    <span class="chat-message-item">8 Friends in Common</span>
                                                </div>
                                                <span class="notification-icon">
                                                    <a href="#" class="accept-request">
                                                        <span class="icon-add without-text">
                                                            <svg class="olymp-happy-face-icon">
                                                                <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </span>
                                            </li>

                                            <li class="inline-items">
                                                <div class="author-thumb">
                                                    <img src="/img/avatar39-sm.jpg" alt="author">
                                                </div>
                                                <div class="notification-event">
                                                    <a href="#" class="h6 notification-friend">Hugh Wilson</a>
                                                    <span class="chat-message-item">6 Friends in Common</span>
                                                </div>
                                                <span class="notification-icon">
                                                    <a href="#" class="accept-request">
                                                        <span class="icon-add without-text">
                                                            <svg class="olymp-happy-face-icon">
                                                                <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </span>
                                            </li>

                                            <li class="inline-items">
                                                <div class="author-thumb">
                                                    <img src="/img/avatar40-sm.jpg" alt="author">
                                                </div>
                                                <div class="notification-event">
                                                    <a href="#" class="h6 notification-friend">Karen Masters</a>
                                                    <span class="chat-message-item">6 Friends in Common</span>
                                                </div>
                                                <span class="notification-icon">
                                                    <a href="#" class="accept-request">
                                                        <span class="icon-add without-text">
                                                            <svg class="olymp-happy-face-icon">
                                                                <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </span>
                                            </li>

                                        </ul>

                                        <!-- ... end W-Action -->
                                    </div>
                                </div>
                                <!-- end eventos -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin segundo panel -->
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="ui-block">
                        <div class="ui-block-content">
                            <h3 class="text-center">
                                <span class="icon-comments-post-icon text-primary"></span>
                                Share the content that you really like.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Categorias -->
        <div class="container">
            <div class="row d-flex sections-container">
                <div class="col col-xl-4 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="ui-block">
                        <!-- Post -->

                        <article class="hentry blog-post">

                            <div class="post-thumb">
                                <img src="/img/musica_portada.jpg" alt="photo">
                            </div>

                            <div class="post-content">
                                <a href="#" class="post-category bg-blue-light">Music</a>
                            </div>

                        </article>

                        <!-- ... end Post -->
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="ui-block">
                        <!-- Post -->
                        <article class="hentry blog-post">

                            <div class="post-thumb">
                                <img src="/img/pintura_portada.jpg" alt="photo">
                            </div>

                            <div class="post-content">
                                <a href="#" class="post-category bg-blue-light">Art</a>
                            </div>

                        </article>

                        <!-- ... end Post -->
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="ui-block">
                        <!-- Post -->
                        <article class="hentry blog-post">

                            <div class="post-thumb">
                                <img src="/img/arquitectura_portada.jpg" alt="photo">
                            </div>

                            <div class="post-content">
                                <a href="#" class="post-category bg-blue-light">Architecture</a>
                            </div>

                        </article>

                        <!-- ... end Post -->
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="ui-block">
                        <!-- Post -->
                        <article class="hentry blog-post">

                            <div class="post-thumb">
                                <img src="/img/literatura_portada.jpg" alt="photo">
                            </div>

                            <div class="post-content">
                                <a href="#" class="post-category bg-blue-light">Literature</a>
                            </div>

                        </article>

                        <!-- ... end Post -->
                    </div>
                </div>

                <div class="col col-xl-4 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="ui-block">
                        <!-- Post -->
                        <article class="hentry blog-post">

                            <div class="post-thumb">
                                <img src="/img/teatro_portada.jpg" alt="photo">
                            </div>

                            <div class="post-content">
                                <a href="#" class="post-category bg-blue-light">Theater</a>
                            </div>

                        </article>

                        <!-- ... end Post -->
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="ui-block">
                        <!-- Post -->
                        <article class="hentry blog-post">

                            <div class="post-thumb">
                                <img src="/img/cine_portada.jpg" alt="photo">
                            </div>

                            <div class="post-content">
                                <a href="#" class="post-category bg-blue-light">Movie theater</a>
                            </div>

                        </article>

                        <!-- ... end Post -->
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="ui-block">
                        <!-- Post -->
                        <article class="hentry blog-post">

                            <div class="post-thumb">
                                <img src="/img/escultura_portada.jpg" alt="photo">
                            </div>

                            <div class="post-content">
                                <a href="#" class="post-category bg-blue-light">Sculpture</a>
                            </div>

                        </article>

                        <!-- ... end Post -->
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="ui-block">
                        <!-- Post -->
                        <article class="hentry blog-post">

                            <div class="post-thumb">
                                <img src="/img/danza_portada.jpg" alt="photo">
                            </div>

                            <div class="post-content">
                                <a href="#" class="post-category bg-blue-light">Dance</a>
                            </div>

                        </article>

                        <!-- ... end Post -->
                    </div>
                </div>

                <div class="col col-xl-4 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="ui-block">
                        <!-- Post -->
                        <article class="hentry blog-post">

                            <div class="post-thumb">
                                <img src="/img/opera_portada.jpg" alt="photo">
                            </div>

                            <div class="post-content">
                                <a href="#" class="post-category bg-blue-light">Opera</a>
                            </div>

                        </article>

                        <!-- ... end Post -->
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="ui-block">
                                <div class="ui-block-content">
                                    <h3 class="text-center"><span class="icon-blog-icon text-primary"></span> 
                                        News of interest and celebrity.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="ui-block">
                                <div class="ui-block-title">
                                    <h6 class="title">Local news</h6>
                                </div>
                                <div class="ui-block-content">


                                    <!-- Widget Featured Topics -->

                                    <ul class="widget w-featured-topics">
                                        <li>
                                            <i class="icon fa fa-star" aria-hidden="true"></i>
                                            <div class="content">
                                                <a href="#" class="h6 title">The new Goddess of War trailer was
                                                    launched at E3!</a>
                                                <time class="entry-date updated" datetime="2017-06-24T18:18">2 hours,
                                                    16 minutes ago</time>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="icon fa fa-star" aria-hidden="true"></i>
                                            <div class="content">
                                                <a href="#" class="h6 title">This year’s ComixCon will have the best
                                                    presentations</a>
                                                <time class="entry-date updated" datetime="2017-06-24T18:18">14 hours,
                                                    36 minutes ago</time>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="icon fa fa-star" aria-hidden="true"></i>
                                            <div class="content">
                                                <a href="#" class="h6 title">Here are the behind-the-scenes photos of
                                                    “Vilords”</a>
                                                <time class="entry-date updated" datetime="2017-06-24T18:18">9 hours, 8
                                                    minutes ago</time>
                                            </div>
                                        </li>
                                    </ul>

                                    <!-- ... end Widget Featured Topics -->
                                </div>

                            </div>
                        </div>
                        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="ui-block">
                                <div class="ui-block-title">
                                    <h6 class="title">Local celebrity</h6>
                                </div>
                                <div class="ui-block-content">


                                    <!-- Widget Featured Topics -->

                                    <ul class="widget w-featured-topics">
                                        <li>
                                            <i class="icon fa fa-star" aria-hidden="true"></i>
                                            <div class="content">
                                                <a href="#" class="h6 title">The new Goddess of War trailer was
                                                    launched at E3!</a>
                                                <time class="entry-date updated" datetime="2017-06-24T18:18">2 hours,
                                                    16 minutes ago</time>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="icon fa fa-star" aria-hidden="true"></i>
                                            <div class="content">
                                                <a href="#" class="h6 title">This year’s ComixCon will have the best
                                                    presentations</a>
                                                <time class="entry-date updated" datetime="2017-06-24T18:18">14 hours,
                                                    36 minutes ago</time>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="icon fa fa-star" aria-hidden="true"></i>
                                            <div class="content">
                                                <a href="#" class="h6 title">Here are the behind-the-scenes photos of
                                                    “Vilords”</a>
                                                <time class="entry-date updated" datetime="2017-06-24T18:18">9 hours, 8
                                                    minutes ago</time>
                                            </div>
                                        </li>
                                    </ul>

                                    <!-- ... end Widget Featured Topics -->
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="ui-block">
                                <div class="ui-block-title">
                                    <h6 class="title">International news</h6>
                                </div>
                                <div class="ui-block-content">


                                    <!-- Widget Featured Topics -->

                                    <ul class="widget w-featured-topics">
                                        <li>
                                            <i class="icon fa fa-star" aria-hidden="true"></i>
                                            <div class="content">
                                                <a href="#" class="h6 title">The new Goddess of War trailer was
                                                    launched at E3!</a>
                                                <time class="entry-date updated" datetime="2017-06-24T18:18">2 hours,
                                                    16 minutes ago</time>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="icon fa fa-star" aria-hidden="true"></i>
                                            <div class="content">
                                                <a href="#" class="h6 title">This year’s ComixCon will have the best
                                                    presentations</a>
                                                <time class="entry-date updated" datetime="2017-06-24T18:18">14 hours,
                                                    36 minutes ago</time>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="icon fa fa-star" aria-hidden="true"></i>
                                            <div class="content">
                                                <a href="#" class="h6 title">Here are the behind-the-scenes photos of
                                                    “Vilords”</a>
                                                <time class="entry-date updated" datetime="2017-06-24T18:18">9 hours, 8
                                                    minutes ago</time>
                                            </div>
                                        </li>
                                    </ul>

                                    <!-- ... end Widget Featured Topics -->
                                </div>

                            </div>
                        </div>
                        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="ui-block">
                                <div class="ui-block-title">
                                    <h6 class="title">International celebrity</h6>
                                </div>
                                <div class="ui-block-content">


                                    <!-- Widget Featured Topics -->

                                    <ul class="widget w-featured-topics">
                                        <li>
                                            <i class="icon fa fa-star" aria-hidden="true"></i>
                                            <div class="content">
                                                <a href="#" class="h6 title">The new Goddess of War trailer was
                                                    launched at E3!</a>
                                                <time class="entry-date updated" datetime="2017-06-24T18:18">2 hours,
                                                    16 minutes ago</time>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="icon fa fa-star" aria-hidden="true"></i>
                                            <div class="content">
                                                <a href="#" class="h6 title">This year’s ComixCon will have the best
                                                    presentations</a>
                                                <time class="entry-date updated" datetime="2017-06-24T18:18">14 hours,
                                                    36 minutes ago</time>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="icon fa fa-star" aria-hidden="true"></i>
                                            <div class="content">
                                                <a href="#" class="h6 title">Here are the behind-the-scenes photos of
                                                    “Vilords”</a>
                                                <time class="entry-date updated" datetime="2017-06-24T18:18">9 hours, 8
                                                    minutes ago</time>
                                            </div>
                                        </li>
                                    </ul>

                                    <!-- ... end Widget Featured Topics -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footers/page-footer }}

    <!-- JS Scripts -->
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/jquery.mousewheel.js"></script>
    <script src="/js/perfect-scrollbar.js"></script>
    <script src="/js/jquery.matchHeight.js"></script>
    <script src="/js/svgxuse.js"></script>
    <script src="/js/imagesloaded.pkgd.js"></script>
    <script src="/js/Headroom.js"></script>
    <script src="/js/velocity.js"></script>
    <script src="/js/ScrollMagic.js"></script>
    <script src="/js/jquery.waypoints.js"></script>
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/material.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/smooth-scroll.js"></script>
    <script src="/js/selectize.js"></script>
    <script src="/js/swiper.jquery.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/daterangepicker.js"></script>
    <script src="/js/simplecalendar.js"></script>
    <script src="/js/fullcalendar.js"></script>
    <script src="/js/isotope.pkgd.js"></script>
    <script src="/js/ajax-pagination.js"></script>
    <script src="/js/Chart.js"></script>
    <script src="/js/chartjs-plugin-deferred.js"></script>
    <script src="/js/circle-progress.js"></script>
    <script src="/js/loader.js"></script>
    <script src="/js/run-chart.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/jquery.gifplayer.js"></script>
    <script src="/js/mediaelement-and-player.js"></script>
    <script src="/js/mediaelement-playlist-plugin.min.js"></script>

    <script src="/js/base-init.js"></script>
    <script defer src="fonts/fontawesome-all.js"></script>

    <script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>

</html>