<!DOCTYPE html>
<html lang="en">

<head>

	<title>Bonchart - Sign up</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
	<script src="/js/webfontloader.min.js"></script>

	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="/css/main.min.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts.min.css">
	<link rel="stylesheet" type="text/css" href="/css/header/header-menu.css">
	<link rel="stylesheet" type="text/css" href="/css/signup/signup.css">

</head>

<body>

	<div class="landing-page">
		{{> header-menu/header-menu }}

		<div class="container">
			<div class="row">
				<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Sign Up</h6>
						</div>
						<div class="ui-block-content">
							<form class="needs-validation" action="/accounts/signup" method="POST" novalidate>
								<div class="crumina-module crumina-heading with-title-decoration">
									<h5 class="heading-title">Form</h5>
								</div>

								<div class="row">
									<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="form-group">
											<input class="form-control" placeholder="Nickname" name="nickname" type="text" value="{{values.nickname}}" required>
											{{#if errors.nickname}}
												<span class="text-danger">{{errors.nickname.message}}</span>
											{{/if}}
										</div>
									</div>

									<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="form-group">
											<input class="form-control" placeholder="Password" name="password" type="password" value="{{values.password}}" required>
										</div>
									</div>

									<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="form-group label-floating">
											<label class="control-label">First Name</label>
											<input class="form-control" type="text" name="firstName" placeholder="" value="{{values.firstName}}" required>
										</div>
									</div>
									<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="form-group label-floating">
											<label class="control-label">Last Name</label>
											<input class="form-control" type="text" name="lastName" placeholder="" value="{{values.lastName}}" required>
										</div>
									</div>
									<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="form-group label-floating">
											<label class="control-label">Email</label>
											<input class="form-control" type="email" name="email" placeholder="" value="{{values.email}}" required>
											{{#if errors.email}}
												<span class="text-danger">{{errors.email.message}}</span>
											{{/if}}
										</div>
									</div>
									<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="form-group">
											<input class="form-control" type="tel" name="phoneNumber" placeholder="Phone Number" value="{{values.phoneNumber}}">
										</div>
									</div>

									<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="form-group label-floating is-select">
											<label class="control-label">Select your gender</label>
											<select class="selectpicker form-control" name="gender" value="{{values.gender}}"> 
												<option value="M" {{isSelected values.gender 'M'}}>Male</option>
												<option value="F" {{isSelected values.gender 'F'}}>Female</option>
												<option value="O" {{isSelected values.gender 'O'}}>Other</option>
											</select>
										</div>
									</div>
									<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="form-group label-floating is-select">
											<label class="control-label">Select your preferred language</label>
											<select class="selectpicker form-control" name="language">
												{{#each languageList}}
												<option value="{{this.code}}" {{isSelected values.language this.code}}>{{this.language}}</option>
												{{/each}}
											</select>
										</div>
									</div>

									<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="form-group label-floating is-select">
											<label class="control-label">Select your born country</label>
											<select class="selectpicker form-control" name="bornCountry">
												{{#each countryList }}
													{{#if this.name}}
														<option value="{{this.altSpellings.[0]}}">{{this.name}}</option>
													{{/if}}
												{{/each}}
											</select>
										</div>
									</div>
									<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="form-group label-floating is-select">
											<label class="control-label">Birthday</label>
											<div class="form-group">
												<input type="date" name="birthdate" value="{{values.birthdate}}" required>
											</div>
										</div>
									</div>
									<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="form-group label-floating is-select">
											<span class="control-span">Select the country where you live</label>
											<select id="countryList" class="form-control" name="addressCountry">
												{{#each countryList }}
													{{#if this.name}}
														<option value="{{this.altSpellings.[0]}}">{{this.name}}</option>
													{{/if}}
												{{/each}}
											</select>
										</div>
									</div>
									<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="form-group label-floating is-select">
											<span class="control-label">Select the province/state</span>
											<select id="provinceList" class="form-control" name="addressProvince">
												{{#each countryList as |country|}}
													{{#each country.provinces as |childValue childKey|}}
														<option value="{{childValue}}" country="{{country.altSpellings.[0]}}">{{childValue}}</option>
													{{/each}}
												{{/each}}
											</select>
										</div>
									</div>

									<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<button class="btn btn-md btn-primary" type="submit">Submit form</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{> footers/page-footer }}

	<!-- JS Scripts -->
	<script src="/js/jquery-3.2.1.js"></script>
	<script src="/js/jquery.appear.js"></script>
	<script src="/js/jquery.mousewheel.js"></script>
	<script src="/js/perfect-scrollbar.js"></script>
	<script src="/js/jquery.matchHeight.js"></script>
	<script src="/js/svgxuse.js"></script>
	<script src="/js/imagesloaded.pkgd.js"></script>
	<script src="/js/Headroom.js"></script>
	<script src="/js/velocity.js"></script>
	<script src="/js/ScrollMagic.js"></script>
	<script src="/js/jquery.waypoints.js"></script>
	<script src="/js/jquery.countTo.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/material.min.js"></script>
	<script src="/js/bootstrap-select.js"></script>
	<script src="/js/smooth-scroll.js"></script>
	<script src="/js/selectize.js"></script>
	<script src="/js/swiper.jquery.js"></script>
	<script src="/js/moment.js"></script>
	<script src="/js/isotope.pkgd.js"></script>
	<script src="/js/ajax-pagination.js"></script>
	<script src="/js/Chart.js"></script>
	<script src="/js/chartjs-plugin-deferred.js"></script>
	<script src="/js/circle-progress.js"></script>
	<script src="/js/loader.js"></script>
	<script src="/js/run-chart.js"></script>
	<script src="/js/jquery.magnific-popup.js"></script>
	<script src="/js/jquery.gifplayer.js"></script>
	<script src="/js/mediaelement-and-player.js"></script>
	<script src="/js/mediaelement-playlist-plugin.min.js"></script>

	<script src="/js/base-init.js"></script>
	<script defer src="/fonts/fontawesome-all.js"></script>

	<script src="/Bootstrap/dist/js/bootstrap.bundle.js"></script>
	<script src="/js/signup/signup.js"></script>

</body>

</html>