<!DOCTYPE html>
<html lang="en">
<head>

	<title>Profile Page - Friends</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="/css/main.min.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts.min.css">

	<!-- Main Font -->
	<script src="/js/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>


</head>
<body>

{{> headers-navigations/left-panel }}

{{> headers-navigations/left-panel-responsive }}

{{> headers-navigations/right-panel friends=user.friendList}}

{{> headers-navigations/right-panel-responsive }}

{{> headers-navigations/header-BP page-title="Profile Page"  user=user}}

{{> headers-navigations/header-BP-responsive  user=user}}

<div class="header-spacer"></div>

{{> headers-navigations/top-header-profile user=user userRequested=userRequested active="Friends"}}


<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block responsive-flex">
				<div class="ui-block-title">
					<div class="h6 title">{{user.nickname}}’s Friends</div>
					<form class="w-search">
						<div class="form-group with-button">
							<input class="form-control" type="text" placeholder="Search Friends...">
							<button>
								<svg class="olymp-magnifying-glass-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
							</button>
						</div>
					</form>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Friends -->

<div class="container">
	<div class="row">

		{{#each userRequested.friendList as |friend|}}
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
			<div class="ui-block">
				{{> friend-items/friend-item1 friend=friend }}
			</div>
		</div>
		{{/each}}
	</div>
</div>

<!-- ... end Friends -->




{{> windows-popup/update-header-photo}}

{{> windows-popup/choose-from-my-photo}}

{{> back-to-top}}

{{> windows-popup/window-chat-responsive}}


<!-- JS Scripts -->
<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/jquery.mousewheel.js"></script>
<script src="/js/perfect-scrollbar.js"></script>
<script src="/js/jquery.matchHeight.js"></script>
<script src="/js/svgxuse.js"></script>
<script src="/js/imagesloaded.pkgd.js"></script>
<script src="/js/Headroom.js"></script>
<script src="/js/velocity.js"></script>
<script src="/js/ScrollMagic.js"></script>
<script src="/js/jquery.waypoints.js"></script>
<script src="/js/jquery.countTo.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/material.min.js"></script>
<script src="/js/bootstrap-select.js"></script>
<script src="/js/smooth-scroll.js"></script>
<script src="/js/selectize.js"></script>
<script src="/js/swiper.jquery.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/daterangepicker.js"></script>
<script src="/js/simplecalendar.js"></script>
<script src="/js/fullcalendar.js"></script>
<script src="/js/isotope.pkgd.js"></script>
<script src="/js/ajax-pagination.js"></script>
<script src="/js/Chart.js"></script>
<script src="/js/chartjs-plugin-deferred.js"></script>
<script src="/js/circle-progress.js"></script>
<script src="/js/loader.js"></script>
<script src="/js/run-chart.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/jquery.gifplayer.js"></script>
<script src="/js/mediaelement-and-player.js"></script>
<script src="/js/mediaelement-playlist-plugin.min.js"></script>

<script src="/js/base-init.js"></script>
<script defer src="/fonts/fontawesome-all.js"></script>

<script src="/Bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="/js/profile/topHeader.js"></script>
</body>
</html>