<!DOCTYPE html>
<html lang="en">

<head>

	<title>Bonchart - 404 Error </title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="/css/main.min.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts.min.css">
	<link rel="stylesheet" type="text/css" href="/css/header/header-menu.css">

	<!-- Main Font -->
	<script src="/js/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

</head>

<body class="body-bg-white">

	<div class="stunning-header bg-primary-opacity">

		{{> header-menu/header-menu isNotLogged=isNotLogged }}

		<div class="header-spacer--standard"></div>

		<div class="stunning-header-content">
			<h1 class="stunning-header-title">404 Error Page</h1>
			<ul class="breadcrumbs">
				<li class="breadcrumbs-item">
					<a href="#">Home</a>
					<span class="icon breadcrumbs-custom">/</span>
				</li>
				<li class="breadcrumbs-item active">
					<span>404 Error</span>
				</li>
			</ul>
		</div>

		<div class="content-bg-wrap stunning-header-bg1"></div>
	</div>

	<section class="medium-padding120">
		<div class="container">
			<div class="row">
				<div class="col col-xl-6 m-auto col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="page-404-content">
						<img src="/img/404.png" alt="photo">
						<div class="crumina-module crumina-heading align-center">
							<h2 class="h1 heading-title">A <span class="c-primary">wild ghost</span> appears! Sadly, not
								what you were looking for...</h2>
							<p class="heading-text">Sorry! The page you were looking for has been moved or doesn’t
								exist.
								If you like, you can return to our homepage, or if the problem persists, send us an
								email to: <a href="#">support@bonchart.com</a>
							</p>
						</div>

						<a href="/" class="btn btn-primary btn-lg">Go to Homepage</a>
					</div>
				</div>
			</div>
		</div>
	</section>



	{{> animation-sections/call-to-action-animation isNotLogged=isNotLogged }}

	{{> footers/page-footer }}

	{{> windows-popup/window-chat-responsive}}

	{{> back-to-top}}

	<!-- JS Scripts -->
	<script src="/js/jquery-3.2.1.js"></script>
	<script src="/js/jquery.appear.js"></script>
	<script src="/js/jquery.mousewheel.js"></script>
	<script src="/js/perfect-scrollbar.js"></script>
	<script src="/js/jquery.matchHeight.js"></script>
	<script src="/js/svgxuse.js"></script>
	<script src="/js/imagesloaded.pkgd.js"></script>
	<script src="/js/Headroom.js"></script>
	<script src="/js/velocity.js"></script>
	<script src="/js/ScrollMagic.js"></script>
	<script src="/js/jquery.waypoints.js"></script>
	<script src="/js/jquery.countTo.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/material.min.js"></script>
	<script src="/js/bootstrap-select.js"></script>
	<script src="/js/smooth-scroll.js"></script>
	<script src="/js/selectize.js"></script>
	<script src="/js/swiper.jquery.js"></script>
	<script src="/js/moment.js"></script>
	<script src="/js/daterangepicker.js"></script>
	<script src="/js/simplecalendar.js"></script>
	<script src="/js/fullcalendar.js"></script>
	<script src="/js/isotope.pkgd.js"></script>
	<script src="/js/ajax-pagination.js"></script>
	<script src="/js/Chart.js"></script>
	<script src="/js/chartjs-plugin-deferred.js"></script>
	<script src="/js/circle-progress.js"></script>
	<script src="/js/loader.js"></script>
	<script src="/js/run-chart.js"></script>
	<script src="/js/jquery.magnific-popup.js"></script>
	<script src="/js/jquery.gifplayer.js"></script>
	<script src="/js/mediaelement-and-player.js"></script>
	<script src="/js/mediaelement-playlist-plugin.min.js"></script>

	<script src="/js/base-init.js"></script>
	<script defer src="/fonts/fontawesome-all.js"></script>

	<script src="/Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>

</html>