

<!-- Top Header-Profile -->

<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="/img/top-header1.jpg" alt="nature">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="/profile/{{userRequested.nickname}}" {{#isEqual active "Timeline"}}class="active"{{/isEqual}}>Timeline</a>
									</li>
									<li>
										<a href="/profile/{{userRequested.nickname}}/about" {{#isEqual active "About"}}class="active"{{/isEqual}}>About</a>
									</li>
									<li>
										<a href="/profile/{{userRequested.nickname}}/friends" {{#isEqual active "Friends"}}class="active"{{/isEqual}}>Friends</a>
									</li>
								</ul>
							</div>
							<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="/profile/{{userRequested.nickname}}/photos" {{#isEqual active "Photos"}}class="active"{{/isEqual}}>Photos</a>
									</li>
									<li>
										<a href="/profile/{{userRequested.nickname}}/videos" {{#isEqual active "Videos"}}class="active"{{/isEqual}}>Videos</a>
									</li>
									<li>
										<div class="more">
											<svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
											<ul class="more-dropdown more-with-triangle">
												<li>
													<a href="#">Report Profile</a>
												</li>
												<li>
													<a href="#">Block Profile</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="control-block-button">
							{{#isNotEqual userRequested.nickname user.nickname}}
								{{#noFriends user userRequested}}
								<a id="sendFriendRequest" class="btn btn-control bg-blue" data-user="{{userRequested.nickname}}">
									<svg class="olymp-happy-face-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
								</a>
								{{/noFriends}}
							<a href="#" class="btn btn-control bg-purple">
								<svg class="olymp-chat---messages-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
							</a>
							{{/isNotEqual}}

							{{#isEqual userRequested.nickname user.nickname}}
							<div class="btn btn-control bg-primary more">
								<svg class="olymp-settings-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>

								<ul class="more-dropdown more-with-triangle triangle-bottom-right">
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a>
									</li>
									<li>
										<a href="29-YourAccount-AccountSettings.html">Account Settings</a>
									</li>
								</ul>
							</div>
							{{/isEqual}}
						</div>
					</div>
					<div class="top-header-author">
						<a href="/profile/{{userRequested.nickname}}" class="author-thumb">
							<img src="{{defaultImage userRequested.profileImage}}" alt="author">
						</a>
						<div class="author-content">
							<a href="/profile/{{userRequested.nickname}}" class="h4 author-name">{{userRequested.firstName}} {{userRequested.lastName}}</a>
							<div class="country">{{userRequested.address.province}}, {{userRequested.address.country}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Top Header-Profile -->